.clients{
    padding-top: 60px;
    padding-bottom: 60px;
}
.clients__title{    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
}
.clients__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
}
.clients__icon{
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients__link:hover &,
    .clients__link:focus &{
        fill: #2196F3
    }
}
.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    max-height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        border: 1px solid #2196F3;
    } 
}
.clients__item{
    flex-basis: calc((100% - 90px) / 2);
    margin-left: 30px;
    margin-top: 30px;
}
@media screen and (min-width: 768px){
    .clients__item{
        flex-basis: calc((100% - 120px) / 3);
    }
    .clients__link{
        width: 226px;
        height: 90px;
    }
}
@media screen and (min-width: 1200px){
    .clients{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .clients__title{    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        color: #212121;
    }
    .clients__menu{
        margin-right: 0;
        margin-bottom: 0;
        flex-wrap: nowrap;
    }
    .clients__item{        
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .clients__link{
        width: 170px;
        height: 90px;
    }
}
