@media screen and (max-width: 480px){
    .work{
        display: none;
    }
}
@media screen and (min-width: 480px){
    .work{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .work{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .work{
        background-color: white;
        padding-bottom: 94px;
        display: block;
    }
    .work__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .work__list{
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -50px;
    
    
    }
    .work__item{
        position: relative;
        flex-basis: calc((100% - 90px) / 3);
        margin-left: 30px;
        margin-top: 50px;
    }
    .work__describe{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 70px;
        width: 100%;
        padding: 27px 82px;
        background: rgba(47, 48, 58, 0.8);
        
    }
    .work__text{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
